body {
    margin: 25px;
    background-color: rgb(200, 200, 200);
    font-family: arial, sans-serif;
    font-size: 14px;
    overflow-y: scroll;
  }
  
  li {
    display: inline;
  }

  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #333;
  }


  ul {
    background-color: #0b1825;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }


  /* CITY WRAPPER */


.city-wrapper{
  height: 10px;
  width: 10px;
  display: grid;
  grid-template-columns: auto;
  column-gap: 1vh;
}